

.chat-detail__empty {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-detail {height: 100lvh;}

.chat-detail-container {height: 100%; display: grid; grid-template-rows: 1fr auto;}

.chat-detail__messages {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  scrollbar-color: rgb(112, 106, 93) rgb(6, 6, 6);
}

.chat-detail__messages > div:first-child {
  margin-top: 2rem;}

.chat-detail__messages > div:last-child {
  margin-bottom: 16rem;
}



.chat-detail__messages > div {margin-top: 1rem;}


/* Bot styles */
.chat-detail__message--bot {
  color: #b7ffd2ca;
  display: flex;
  align-items: flex-start;
  background-color: hsla(130, 65%, 15%, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed #90f9b659;
  margin-left: 2rem;
 }

 .chat-detail__message--bot .chat-detail__icon {
  margin-right: 8px;
  font-size: 2rem;
  margin-top: -13px;
}
.chat-detail__message--bot p {margin-top:0}

.chat-detail__icon {
  margin-right: 8px;
  font-size: 1.5rem;

}

/* Admin styles */
.chat-detail__message--admin {
  border: 1px solid #ffdea8;
  color: #000;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(314deg,#d6bc9e 12.4%,#ffeec0 50.91%,#d6bc9e 118.01%);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
 }

 .chat-detail__message--admin .chat-detail__icon {
  margin-right: 8px;
  font-size: 2rem;
  margin-top: -13px;
}
.chat-detail__message--admin p {margin-top:0}

.chat-detail__icon {
  margin-right: 8px;
  font-size: 1.5rem;

}

/* User styles */
.chat-detail__message--user {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 1rem;
  background-color: #dddddd1f;
  border: 1px solid #56544a66;
  box-shadow: 0 2px 2px #0000004d;
  color: #fff;
  max-width: 95%;
  text-align: right;
  margin-left: auto;
  border-radius: 0.5rem;
 }

 .chat-detail__message--user .chat-detail__icon {
  margin-left: 8px;
  font-size: 2rem;
  margin-top: -10px;
}
.chat-detail__message--user p {margin-top:0}

.chat-detail__icon {
  margin-right: 8px;
  font-size: 1.5rem;

}


.chat-detail__input-container {
  border-top: 1px solid #333;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: sticky;
  z-index: 2;
  bottom: 0px;
  margin-bottom: 0dvh;
  box-shadow: rgba(0, 0, 0, 0.49) 0px -2px 15px;
  display: flex;
  background-color: #262626;
  border-top: 1px solid rgb(56, 56, 56);
  padding: 1rem;
  
}

.chat-detail__textarea {
  background-color: #060606;
  border: 1px solid #383838;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 5rem;
}

.chat-detail__button {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--jokerColors-jokerGradients-jokerGradientGold02, linear-gradient(345deg, #d6bc9e 3.8%, #ffeec0 50.91%, #d6bc9e 98.51%));
  color: #53493d;
  border: none;
  cursor: pointer;
  font-size: 45px;
  border: 1px solid #ffdea8;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 75px;
}

.chat-detail__button:active {  box-shadow: inset 0px 5px 9px #50390c;
  border: none; background: var(--jokerColors-jokerGradients-jokerGradientGold02, linear-gradient(345deg, #6b563d 3.8%, #d2c08f 50.91%, #423525 98.51%)); transform: translateY(3px);}
.button-chev {    transform: translateY(-4px) translateX(2px);
  display: block;}

.chat-detail__button:hover {
  background-color: #0056b3;
}

/* media querie for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* media querie for mobile */
@media screen and (max-width: 768px) {
  

  .chat-detail__empty {justify-content: flex-start;}
}
