.chat-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-detail__empty {
  text-align: center;
  margin-top: 50px;
}

.chat-detail__messages {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 16px;
}

.chat-detail__message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  background-color: #dddddd1f;
  border: 1px solid #56544a66;
  box-shadow: 0 2px 2px #0000004d;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}

.chat-detail__message p {margin-top:0}

/* Bot styles */
.chat-detail__message--bot {
  color: #b7ffd2ca;
  display: flex;
  align-items: flex-start;
  background-color: hsla(130, 65%, 15%, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px dashed #90f9b659;
  margin-left: 1.2rem;
 }

 .chat-detail__message--bot .chat-detail__icon {
  margin-right: 8px;
  font-size: 2rem;
  margin-top: -13px;
}
.chat-detail__message--bot p {margin-top:0}

.chat-detail__icon {
  margin-right: 8px;
  font-size: 1.5rem;

}

.chat-detail__input-container {
  border-top: 1px solid #333;
  padding-top: 16px;
}

.chat-detail__textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  margin-bottom: 8px;
}

.chat-detail__button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-detail__button:hover {
  background-color: #0056b3;
}
