.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%; /* Adjusts to container width */
  max-width: 1200px;
  margin: 0 auto; /* Center pagination on the page */
  margin-top: -6rem;
}

.pagination-numbers {
  display: flex;
  gap: 0.25rem;
}

.pagination-number {
  color: #aaa;
  cursor: pointer;
  font-size: 0.875rem;
  font-style: normal;
font-weight: 400;
  padding: 5px 8px;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s;
  opacity: 0.5;
  display: inline-flex;
  width: 33px;
  height: 33px;
  align-items: center;
  justify-content: center;
  
  
}

.pagination-number:hover {
  background-color: #55555561;
  border-radius: 50%;
  color: #fff;
}

.pagination-number.active {
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.pagination-controls {
  display: flex;
  gap: 10px;
}

.pagination-arrow {
  background: #3D3D3D;
  border: 1px solid #555;
  color: #aaa;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  
}

.pagination-arrow:hover {
  background-color: #555;
  color: #fff;
}

.pagination-arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.pagination-icon-right {transform: scale(0.8) translateX(1px);}
.pagination-icon-left {transform: scaleX(-100%) scale(0.8) translateX(1px);}